header {
  height: 100vh;
  padding-top: 4rem;
  overflow: hidden;
  position: relative;
}

.name {
  font-family: "Bebas Neue", sans-serif;
  font-size: 7rem;
  /* margin: 0 auto; */
  top: 100px;
  overflow: hidden;
  transform: translateY(215px);
  transition: transform 0.5s;
}

.name__container {
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  z-index: 2;
}

/* ===== CTA ===== */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ===== HEADER SOCIALS ===== */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials-icon {
  font-size: 1.5rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-pink-primary);
}

/* ===== IMG ===== */

.me {
  width: auto;
  /* height: 50rem; */
  position: absolute;
  left: 51%;
  transform: translateX(-50%);
  margin-top: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
  /* margin-bottom: 100rem; */
  /* opacity: 0.7; */
}

/* ===== SCROLL DOWN ===== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
  font-size: 1.5rem;
}

/* ===== MQ MEDIUM ===== */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
  .me {
    width: 22rem;
    /* height: 60rem; */
    margin-top: 1rem;
  }
}

/* ===== MQ SMALL ===== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .scroll__down,
  .header__socials {
    display: none;
  }

  .me {
    width: 22rem;
    /* height: 60rem; */
    margin-top: 1rem;
  }

  h2 {
    font-size: 1rem;
  }

  /* .header__socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
    left: 40%;
    flex: 1;
  } */

  .name {
    font-size: 4rem;
  }
}

@media screen and (max-height: 500px) {
  .me {
    width: 10rem;
    height: 60rem;
  }

  header {
    height: 50vh;
  }
  /* .name {
    display: none;
  } */
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  /* .name {
    display: none;
  } */
}
