.color-picker {
    display: flex;
    grid-area: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 100;
  }

.theme-switcher {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 1rem 0;
    gap: 10px;
  }

.btn-switch {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    padding: 0.50rem;
    font-size: inherit;
    color: var(--color-text);
    border: 2px solid var(--color-text);
  }

  /* .btn-switch:first-of-type {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  } */
  
  /* .btn-switch:last-of-type {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  } */
  
  .btn-switch[aria-pressed="true"] {
    background-color: var(--color-text);
    color: var(--color-bg-variant);
  }
  
  .btn-switch:is(:hover, :focus) {
    box-shadow: 0 0 0 2px var(--color-text) inset;
  }
  
  .btn-switch[aria-pressed="true"]:is(:hover, :focus) {
    box-shadow: 0 0 0 2px var(--color-background) inset;
  }


  @media screen and (max-width: 500px) {

  
    .theme-switcher {
      display: block;
    }
    
    .btn-switch {
      display: block;
      margin: 0 auto;
      border-radius: var(--border-radius);
    }
    
    .btn-switch:is(:first-of-type, :last-of-type) {
      border-radius: var(--border-radius);
    }
    
    .btn-switch + button {
      border-left: 2px solid var(--color-text);
      margin-top: 1rem;
    }
  }