/* .color-picker {
    display: flex;
    grid-area: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 100;
  } */

.theme-switcher {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 1rem 0;
    gap: 10px;

    /* display: flex; */
    grid-area: 10px;
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: column; */
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 100;
  }

.btn-switch {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    padding: 0.50rem;
    font-size: inherit;
    color: var(--color-text);
    border: 2px solid var(--color-text);
  }

  .btn-switch[aria-pressed="true"] {
    background-color: var(--color-text);
    color: var(--color-bg-variant);
  }
  
  .btn-switch:is(:hover, :focus) {
    box-shadow: 0 0 0 2px var(--color-text) inset;
  }
  
  .btn-switch[aria-pressed="true"]:is(:hover, :focus) {
    box-shadow: 0 0 0 2px var(--color-background) inset;
  }


  @media screen and (max-width: 500px) {
    .theme-switcher {
      position: absolute;
      display: block;
      top: 0;
      right: 10px;
      margin: 0;
    }
    
    .btn-switch {
      /* display: block; */
      margin: 0 auto;
    }
    
    .btn-switch + button {
      border-left: 2px solid var(--color-text);
      margin-top: 1rem;
    }
  }